.App {
  text-align: center;
}

.settings {
  background-color: #282c34;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: space-between;
}

button.selected {
  color: red;
  background: grey;
}

.av-button {
  padding: 20px;
  margin: 5px;
  font-size: 16px;
  font-weight: 900;
}

.io-button {
  padding: 20px;
  margin: 5px;
  font-size: 16px;
  font-weight: 900;
}

.enter-button {
  padding: 20px 100px;
  margin: 5px;
  font-size: 16px;
  font-weight: 900;
}

select {
  width: 200px;
  height: 80px;
  font-size: 40px;
  margin: 0 40px;
}

.settings-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}
