.App {
  text-align: center;
}

main {
  background-color: #354970;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: space-between;
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin: 8px;
}

button.selected {
  color: red;
  background: grey;
}

.av-button {
  padding: 20px;
  margin: 5px;
  font-size: 16px;
  font-weight: 900;
}

.io-button {
  padding: 20px;
  margin: 5px;
  font-size: 16px;
  font-weight: 900;
}

.App-link {
  color: #61dafb;
}
